.header{
    background-color: lightblue;
}

/* messages style  */
.search-result{
    background-color: rgb(248, 247, 247);
}
.error{
    display: none;
    background-color: lightcoral;
}
/* book card style  */
.img-body{
    height: 20rem;
}
.cover-img{
    height: 100%;
}
.publisher{
    white-space: nowrap;
    text-overflow: ellipsis;
}